html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'proxima-nova', sans-serif;
    font-size: 20px;
    line-height: 40px;
      color: #595954;
}

h1 {
  font-family: 'raleway';
  font-weight: bold;
  font-size: 32px;
    color: #595954;
}

h3 {
  font-family: 'roboto';
  font-weight: 500;
  color: #595954;
  font-size: 24px;
}

p {
  font-family: 'proxima-nova', sans-serif;
  font-size: 20px;
  line-height: 40px;
  color: #595954;
  max-width: 900px;
  margin: auto;
}

h4 {
  text-align: center;
  font-weight: bold;
}

/**HERO**/
.projecthero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}




/**deliverables lists**/
.myroles {
  min-height: 500px;
  background-color: #F3F5F6;
  margin: 3%;
}

.rolescontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.deliverable {
  text-align: center;
  padding-bottom: 40px;
}

.deliverable h3 {
  text-align: center;
}


/**deliverables section titles and paragraphs **/

#solution .block {
  background-color: #DBF7FD;
}


.introduction {
  min-height: 500px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


.block {
  min-height: 500px;
  background-color: #FFECFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
}

.intro {
  padding: 20px;
}

.intro h3 {
  padding-bottom: 20px;
  text-align: center;
}


p {
  max-width: 875px;
}


/** Section Titles **/

.sectiontitle {
  min-height: 500px;
  background-color: #F3F5F6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
}

.centered {
  border-top: solid 1px lightgrey;
  width: 80%;
  border-bottom: solid 1px lightgrey;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.centered h1 {
  padding-bottom: 20px;
}

/**buttons**/

.button a {
  text-decoration: none;
  color: #595954;
}

.button {
  text-align: center;
  padding: 20px;
}

.buttonhighlight {
  background: linear-gradient(180deg,rgba(0,0,0,0) 50%, #D5FE00 50%);
}

.buttonhighlight:hover{
  background: linear-gradient(180deg,rgba(0,0,0,0) 50%, #FFECFF 50%);
}


/** competitive analysis **/

.competitive-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



  hr {
    width:70%;
    border-top: 1px solid #D2D2D2
}


.complist {
  padding: 40px;
  height: 200px;
  text-align: center;
}


/**user research numbers**/



.user-results-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.user-results-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.result {
  text-align: center;
  padding: 30px;

}

.centeredresults {
  width: 250px;
}

.user-results-container {
  border: solid 1px lightgrey;
  margin: 10%;

}

/**Personas**/

.personascontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



  hr {
    width:70%;
    border-top: 1px solid #D2D2D2
}


.personainfo {
  padding: 40px;
  height: 350px;
  text-align: center;
  list-style: none;
}

.personaimg {
  width: 50%;
}

/**user stories & flows**/

.flow-overview {
  max-width: 900px;
  margin: auto;
  padding: 40px;
}


.userflowimage {
  width: 100%;
}

/**wireframe slider**/

.carousel-wrapper{
  height: 500px;
  position: relative;
  width: 80%;
  margin: 10% auto;
}

.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}
.arrow {
  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
}

.arrow-prev{
  left:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}

.arrow-next{
  right:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
  }

.light{
  color:white;
}


/*Select every element*/
[id^="item"] {
    display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
  background:url('../images/wireframesketches.svg');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  }
.item-2{
  background:url('../images/wireframedigitals.svg');
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}


*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2 {
    z-index: 3;
    opacity: 1;
  }

  /**branding**/
.logo-sketches {
  display: flex;
}
  .sketches {
    width: 70%;
    margin: auto;
  }

  .color-logos {
    display: flex;
    flex-direction: column;
  }

  .digital {
   margin: auto;
   width: 300px;
  }

  .color {
    margin: auto;
    width: 300px;
  }

  /**style guide**/

  .picture {
    display: flex;
  }

  .pic {
        width: 80%;
        margin: auto;
        padding-top: 50px;

  }

  /**Flowspace Mockups**/



/**media query**/

@media screen and (min-width: 768px) {

.wrapper {
  background-image: url("../images/wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 900px;
}

.navigation {
  float: right;
}

header {
  padding: 30px;
}




#heroimage img {
    max-width: 800px;
    min-width: 100px;
    padding-bottom: 100px;
}

.flowspacemockup {
  display: flex;

}


.nav-wrapper ul li {
  display: inline-block;
  padding-left: 50px;
}

nav ul li a {
  text-decoration: none;
  color: #595954;
}

.nav-wrapper ul li {
  font-size: 18px;
  letter-spacing: 10%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.top-bar {
  display: inline-block;
  float: right;
}
  }


@media screen and ( min-width: 900px ) {
     .rolescontainer {
       flex-direction: row;
       padding-top:50px;
   }
   .deliverable {
     height: 300px;
     width: 100%;
   }
 }

 @media screen and ( min-width: 900px ) {
      .competitive-container {
        flex-direction: row;
        min-height: 500px;
    }
    .complist {
      width: 100%;
    }
    hr {
      height: 100%;
      transform:rotate(90deg);
    }
  }

  @media screen and ( min-width: 900px ) {
       .user-results-1, .user-results-2 {
         flex-direction: row;
     }
      .result {
          height: 200px;
          padding: 50px;
      }
   }

   @media screen and ( min-width: 900px ) {
        .personascontainer {
          flex-direction: row;
          min-height: 500px;
      }
      .personainfo {
        width: 100%;
      }
      hr {
        height: 100%;
        transform:rotate(90deg);
      }

      .personaimg {
        width: 25%;
      }
    }



@media screen and (min-width: 1300px) {
  .arrow-prev{
    left:100px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(135deg);
  }

  .arrow-next{
    right:100px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(-45deg);
    }
}
