html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


h1 {
  font-family: 'raleway';
  font-weight: bold;
  font-size: 32px;
    color: #595954;
}

h3 {
  font-family: 'josefin sans';
  font-weight: 500;
  color: #595954;
  font-size: 24px;
}

p {
  font-family: 'proxima-nova', sans-serif;
  font-size: 20px;
  line-height: 40px;
    color: #595954;
}

/**HERO**/

.navigation {
  float: right;

}

.wrapper {
  background-image: url('../images/wave.svg');
  background-repeat: no-repeat;
  background-position: center;
}

#heroimage img {
    max-width: 400px;
    min-width: 100px;
    padding-bottom: 100px;
}


.nav-wrapper ul li {
  display: inline-block;
  padding-left: 50px;
}

nav ul li a {
  text-decoration: none;
  color: #595954;
}

.nav-wrapper ul li {
  font-size: 18px;
  letter-spacing: 10%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.top-bar {
  display: inline-block;
  float: right;
}

.wave {

  z-index: -2;
}


/**deliverables section titles and paragraphs **/

.introduction {
  min-height: 500px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  min-height: 500px;
  background-color: #FFECFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  padding: 20px;
}

.intro h3 {
  padding-bottom: 20px;
  text-align: center;
}


p {
  max-width: 875px;
}


/** Section Titles **/

.sectiontitle {
  min-height: 500px;
  background-color: #F3F5F6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  text-align: center;
}

.centered h1 {
  padding-bottom: 20px;
}

/**buttons**/

.button a {
  text-decoration: none;
  color: #595954;
}

.button {
  text-align: center;
  padding: 20px;
}

.buttonhighlight {
  background: linear-gradient(180deg,rgba(0,0,0,0) 50%, #D5FE00 50%);
}

.buttonhighlight:hover{
  background: linear-gradient(180deg,rgba(0,0,0,0) 50%, #FFECFF 50%);
}
