
html, body { height: 100%; }
body {
  overflow-x:hidden;

}

body{
  font-family: 'roboto', Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #595954;
  line-height: 28px;
}

.wrapper{
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 40px;
  overflow-x:hidden;
}


.homehighlight {
  z-index: -1;
  position: absolute;
  left: 904px;
  top: 72px;

}

nav ul li a {
  text-decoration: none;
  color: #595954;
}

.nav-wrapper ul li {
  font-size: 18px;
  letter-spacing: 10%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.container {
  display: inline-block;
  float: right;
}

.circle {
   left: 20%;
   bottom: 10%;
   position: absolute;
 }

.triangle {
   position: absolute;
   top: 30%;
}

.square {
   position: absolute;
   right: 10%;
   bottom: 20%;
}

.diamond {
   position: absolute;
   left: 50%;
}

.navigation {
  float: right;
  padding-right: 50px;
}

.nav-wrapper ul li {
  display: inline-block;
  padding-left: 50px;
}

.hero {
  display: inline-block;
  width: 1300px;
  height: 702.29px;
}


.squiggle {
  display: block;
  padding-top: 22px;
}

h1 {
  font-family: Raleway;
  font-size: 100px;
  font-weight: bolder;
}

h2, .name {
  padding-top: 43px;
  font-size: 32px;
  font-weight: 500px;
  text-align:left;
}

h2 {
  text-align: center;
}

h2 .nikkihighlight {
  z-index: -1;
  position: absolute;
  left: 168px;
  top: 130px;

}

.herotext {
  position: absolute;
  margin-left: 120px;
  margin-top: 180px;
  margin-right: 290px;
  margin-bottom: 134px;
}

.abouttext {
  position: absolute;
  width: 900px;
  padding-top: 29px;
  line-height: 194%;
}

.friendly {
  font-weight: bold;
}

.friendlyhighlight {
  z-index: -1;
  position: absolute;
  left: 491px;
  top: 45px;
}

.featuredworktext, .downarrow {
  text-align: center;
  font-weight: bold;
}

.downarrow {
  position: absolute;
  bottom: 0%;
  width: 1300px;
}
/** Project 1 **/

.flowspaceproject {
  background-color: #FFECFF;
  width: 1320px;
  height: 700px;
}

.flowspacemockup {
  display: inline-block;
}

.flowspacemockup img {
  width: 725px;
  padding-top: 150px;
  padding-left: 60px;
  display: inline-block;
}

.projecttext {
  display: inline-block;
  width: 315px;
  position: absolute;
  height: 194.06px;
  left: 947.83px;
  top: 1000.02px;
  line-height: 194%;
}


h3 {
    padding-bottom: 10px;
    font-family: raleway;
    font-weight: bold;
    font-size: 32px;
}

 a, .button {
  color: #595954;
  padding-top: 20px;
  text-decoration: none;
}

.button {
  z-index: 2;
}

.buttonarrow {
  display: inline;
  position: relative;
  padding: 17px;
}

.buttonhighlight {
  z-index: 0;
  position: absolute;
  right: 54%;
  top: 93%;

}

/** PROCESS **/

#process {
  width: 100%;
  height: 600px;
}

#process .skill {
    padding-top: 120px;
    text-align: center;
}

.processcontainer {
  display: flex;
}

.skill {
  position: relative;
  width: 203px;
  height: 246.76px;
  flex: 1;
}

img .skill {
  display: inline-block;
}

.skill h4 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
}

.image {
  align-content: center;
}

ul  {
  padding-top: 20px;
  display: inline-block;
}

.dots {
  display: inline-block;
  padding-top: 50px;
}

.processarrow {
  padding-left: 360px;
}

/** TESTIMONIALS **/

.testimonials {
  background-color: rgba(12, 202, 242, 0.15);
  width: 1320px;
  height: 500px;
  display: inline-block;
}

.testimonials img {
   display: block;
}

.phototestimonial {
  display: inline-block;
}

 .testimonials p {
  width: 558px;
  display: inline-block;
}

/** Footer **/
footer {
  height: 250px;
  display: inline-block;
}

.footertext {
  font-size: 48px;
}

.contactbuttons, ul {
  margin: auto;
}

.footertext {
  display: inline-block;
}


.contactbutton {
  display: inline-block;
}

footer li {
    display: inline-block;
    width: 100px;
    margin: auto;
}
