
html, body { height: 100%; }
body {
  overflow-x:hidden;

}

body{
  font-family: 'roboto', Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #595954;
  line-height: 28px;
}

.wrapper{
  margin: 70px;
  overflow-x:hidden
}

.container {
  display: inline-block;
  float: right;
}

.circle {
   left: 20%;
   bottom: 10%;
   position: absolute;
 }

.triangle {
   position: absolute;
}

.square {
   position: absolute;
   right: 10%;
   bottom: 20%;
}

.diamond {
   position: absolute;
   left: 50%;
}

.navigation {
  float: right;
  padding-right: 50px;
}

.nav-wrapper ul li {
  display: inline-block;
  padding-left: 50px;
}

.hero {
  display: inline-block;
}

.hero {
  width: 1300px;
  height: 702.29px;
}

.squiggle {
  display: block;
  padding-top: 22px;

}
h1 {
  font-family: Raleway;
  font-size: 100px;
  font-weight: bolder;
}

h2, .name {
  padding-top: 43px;
  font-size: 32px;
  font-weight: 500px;
  text-align:left;
}

h2 {
  text-align: center;
}

.herotext {
  position: absolute;
  margin-left: 120px;
  margin-top: 80px;
  margin-right: 290px;
  margin-bottom: 134px;
}

.abouttext {
  position: absolute;
  width: 900px;
  padding-top: 29px;
  line-height: 194%;
}

.featuredworktext, .downarrow {
  text-align: center;
  font-weight: bold;
}

.downarrow {
  position: absolute;
  bottom: 0%;
  width: 1300px;
}
/** Project 1 **/

.flowspaceproject {
  background-color: #FFECFF;
  width: 1320px;
  height: 700px;
}

.flowspacemockup {
  display: inline-block;
}

.flowspacemockup img {
  width: 725px;
  padding-top: 150px;
  padding-left: 60px;
  display: inline-block;
}

.projecttext {
  display: inline-block;
  width: 315px;
  position: absolute;
  height: 194.06px;
  left: 947.83px;
  top: 1050.02px;

}


h3 {
    font-family: raleway;
    font-weight: bold;
    font-size: 32px;
}


/** PROCESS **/

#process {
  width: 1320px;
  height: 700px;
}

#process .skill {
    text-align: center;

}

.skill {
  position: relative;
  width: 203px;
  height: 246.76px;
  display: inline-block;
}

img .skill {
  display: inline-block;
}

.skill h4 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
}

.image {
  align-content: center;
}

/** TESTIMONIALS **/

.testimonials {
  background-color: rgba(12, 202, 242, 0.15);
  width: 1320px;
  height: 500px;
  display: inline-block;
}

.testimonials img {
   display: block;
}

.phototestimonial {
  display: inline-block;
}

 .testimonials p {
  width: 558px;
  display: inline-block;
}

/** Footer **/
footer {
  height: 350px;
}

.footertext {
  font-size: 48px;
}
